

.sec1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/images/background1.png);
    background-position: center;
    background-size: cover;
}

.sec1 img{
    z-index: -1;
    position: relative;
    opacity: 0.5;
}

.s1d1{
    text-align: center;
}



.s1d1 h1{
    cursor: default;
    margin-top: 20%;
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    line-height: 1;
    font-family: 'Inter', sans-serif;


}

.s1d1 h2{
    cursor: default;
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 1.2em;
    color: rgb(245, 218, 183);
}

.sec2{
    background:#131313; 
    height: 90vh; 
    z-index: -1;  
}

#s2d1{
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: 70%;
    text-align: left;
    

}

.sec2_division1{
    z-index: 3;
}

.sec2_division1 h1{
    z-index: 3;
    font-size: 2em;
    letter-spacing: 2px;
    cursor: default;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.myText{
    color: rgb(245, 218, 183);
    font-style:unset;
    font-size: 2.5em;
    line-height: 0.8em;
    font-weight: 600;
    letter-spacing: 0px;
    font-family: 'Jost', sans-serif;

    transition: opacity 0.5s ease;

}

.myText.batman{
    color: #6b6b6b;
}


.sec2_division1 p{
    z-index: 3;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2.5px;
    cursor: default;
    color: white;
}

.sec2_division1 span{
    color: rgb(245, 218, 183);
}

.sec2_division2{
    z-index: 3;
    background: linear-gradient(#cfba9f, #7c6f5e);
    height: 500px;
    border-radius: 0px;
    padding: 50px;
    align-items: center;
    text-align: center;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
    0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}


.sec2_division2 h2{
    color: #000000;
    padding-top: 10px;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
}

.sec2_division2 p{
    color: #000000;
    font-size: 0.75em;
    letter-spacing: 2px;
    font-weight: 500;
}

.mylinks{
    margin-top: 40px;
}

.fa {
    color: #000000;
    padding: 20px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.image-container {
    position: relative;
    width: 250px;
    height: 250px;
  }


.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; 
}

.image-container:hover img {
    opacity: 0;
}

.image-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease; 
}

.image-container:hover .hover-image {
    opacity: 1;
}


.sec2_division1{
    flex: 1;
}

.sec2_division1:first-child{
    margin-right: 20px;
}

.sec3{
    background:#131313; 
    height: 100vh;
}

#s3d1{
    padding-top: 10%;
    text-align: center;

}

#s3d1 h1{
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 3em;
    cursor: default;
}

#s3d1 p{
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.1em;
    cursor: default;
}

#s3d1 span{
    font-weight: 400;
    color: #F5DAB7;
}

#container{
    margin: 20px;
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card1{
    background: rgba(121, 121, 121, 0) linear-gradient(to bottom, rgba(95, 95, 95, 0) 10%, rgba(26, 26, 26, 0.1) 40%, rgba(14, 14, 14, 0.5) 75%, rgb(0, 0, 0) 100%) repeat scroll 0 0;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: left;

    filter: grayscale(100%) brightness(90%) saturate(0%) contrast(90%);
    transition: all ease-in-out 1s;
}

.card1:hover{
    transition: all ease-in-out 1s;
    filter: none;
}

.card1 img{
    z-index: -1;
}

.card1 h1{
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    opacity: 1;
    z-index: 1;
    position: absolute;
    bottom: 12px;
    left: 16px;
    transition: all ease-in-out 1s;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}

.card1 #tankphoto{
    max-width: 300px;
    transform: translateY(-20%);
    height: 300px;
}

.card1 #spacestation{
    max-width: 300px;
    transform: translateY(-15%);
    height: 300px;
    transition: all ease-in-out 1s;
}

.card1 #planet{
    max-width: 300px;
    transform: translateY(-15%);
    height: 300px;
    transition: all ease-in-out 1s;
}


.card2{
    overflow: hidden;
    background: rgba(121, 121, 121, 0) linear-gradient(to bottom, rgba(95, 95, 95, 0) 10%, rgba(26, 26, 26, 0.1) 40%, rgba(14, 14, 14, 0.5) 75%, rgb(0, 0, 0) 100%) repeat scroll 0 0;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 200px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    filter: grayscale(100%) brightness(90%) saturate(0%) contrast(90%);
    transition: all ease-in-out 1s;
}

.card2:hover{
    transition: all ease-in-out 1s;
    filter: none;
}

.card2 img{
    z-index: -1;
}

.card2 h1{
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    opacity: 1;
    z-index: 1;
    position: absolute;
    bottom: 12px;
    left: 16px;
    transition: all ease-in-out 1s;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}

.card2 #web1{
    height: 290px;
    transform: translate(-5%, -15%);
    transition: all ease-in-out 1s;
}

.card2 #web2{
    height: 300px;
    transform: translate(-5%, -15%);
    transition: all ease-in-out 1s;
}


.card3{
    background: rgba(121, 121, 121, 0) linear-gradient(to bottom, rgba(95, 95, 95, 0) 10%, rgba(26, 26, 26, 0.1) 40%, rgba(14, 14, 14, 0.5) 75%, rgb(0, 0, 0) 100%) repeat scroll 0 0;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 150px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;

    filter: grayscale(100%) brightness(90%) saturate(0%) contrast(90%);
    transition: all ease-in-out 1s;
}

.card3:hover{
    transition: all ease-in-out 1s;
    filter: none;
}

.card3 img{
    z-index: -1;
}

.card3 h1{
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    opacity: 1;
    z-index: 1;
    position: absolute;
    bottom: 12px;
    left: 16px;
    transition: all ease-in-out 1s;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    cursor: default;
}

.card3 #aetcover{
    transform: translate(-20%, -20%);
    height: 250px;
    transition: all ease-in-out 1s;
}



.card3 #woddles{
    transform: translateY(-5%);
    opacity: 0.85;
    height: 300px;
    transition: all ease-in-out 1s;
}



.card3 #mwcard{
    transform: translateY(-5%);
    opacity: 0.75;
    height: 300px;
    transition: all ease-in-out 1s;
}


#learnmore{
    text-align: center;
}

.learnmorebtn{
    color: #F5DAB7;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.learnmorebtn:hover{
    color: #ffffff;
}

.sec4{
    background:#131313; 
    height: 150vh;
    overflow-y: hidden;
}

#s4d1{
    padding-top: 10%;
    text-align: center;

}

#s4d1 h1{
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 3em;
    cursor: default;
}

#s4d1 p{
    color: white;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: 300;
    cursor: default;
}

#s4d1 span{
    color: #F5DAB7;
}

#s4d2{
    width: 50%;
    margin: auto;
    padding-top: 5%;
    text-align: left;
}

#s4d2 p{
    color: white;
    letter-spacing: 2.25px;
    font-size: 1em;
    cursor: default;
    font-weight: 200;
}

#s4d2 span{
    color: #F5DAB7;
    font-weight: 400;
}

#s4d2 em{
    color: #6b6b6b;
    text-decoration: none;
}

.sec5{
    height: 100vh;
}